/* Main App styling */
.App {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
}

/* Logo styling within the App */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animation for the App logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header styling within the App */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Link styling within the App */
.App-link {
  color: #61dafb;
}

/* Container for paragraphs */
.paragraph-container {
  width: 30%;
  margin: 0 auto;
}

/* Animation for the spinning App logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styling for nodes in a graph */
circle {
  stroke: #333;
  stroke-width: 2px;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Input field styling */
input {
  width: 20%;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #333;
  border-radius: 5px;
}

/* General button styling */
button {
  width: 21.5%;
  padding: 10px;
  margin: 5px 0;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Specific styling for a 'random' button */
button.random-button {
  background-color: #007bff;
}

/* Hover effect for buttons */
button:hover {
  background-color: #61dafb;
}

/* Styling for a specific refresh button */
.refresh-button {
  bottom: center;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-left: 1em; 
  margin-right: 10em;
  height: 3em;
  width: 9em;
  text-align: center;
  margin-top: 25em;
}

/* Hover effect for the refresh button */
.refresh-button:hover {
  background-color: #45a049;
}

/* Styling for another specific refresh button */
.refresh-button2 {
  position: absolute;
  bottom: center; 
  right: 40px; 
  width: 100px;
  height: center;
  border-radius: 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Hover effect for the second refresh button */
.refresh-button2:hover {
  background-color: #45a049;
}

/* Styling for the graph container */
.graph-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 20px;
}

/* Styling for a box that appears when there are no connections in the graph */
.no-connections-box {
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto;
}

/* Styling for a scrollable graph container */
.graph-scroll-container {
  width: 90vw;
  height: 90vh;
  overflow: scroll;
  border: 1px solid #ddd;
  margin: 20px auto;
  position: relative;
}

/* Styling for a loading bar container */
.loading-bar-container {
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
}

/* Styling for the loading bar itself */
.loading-bar {
  height: 100%;
  width: 0;
  background-color: #CBA896;
  border-radius: 15px 0 0 15px;
  animation: loadingAnimation 18s linear forwards;
}

/* Animation for the loading bar */
@keyframes loadingAnimation {
  to {
    width: 100%;
  }
}
